span.required{
    color: red;
}


.main-content{
    padding-top: 20px;
    width: 1000px;
    margin: auto;
}

.labels .label-container{
    float: left;
    width: 200px;
    height: 300px;
    padding: 5px;
}

.labels .label-item{
    border: 1px solid;
    border-radius: 5px;
    height: 100%;
    padding: 10px;
}

.labels .label-category{
    border-color: #adadad;
}

.labels .label-test{
    border-color: rgba(244, 248, 118, 0.59);
}

.label-item .icon{
    background: #428bca;
    height: 130px
}

.tags:after{
    content: " ";
}

.tag{
    /*float: left;*/
    color: #ffffff;
    padding: 3px 8px;
    margin: 3px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}






